<log4net>
  
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log/Game.Server.app.log" />
    <layout type="log4net.Layout.PatternLayout">
      
    </layout>
  </appender>
  <appender name="PhotonLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log/Game.Server.photon.log" />
    <layout type="log4net.Layout.PatternLayout">
      
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="PhotonLogFileAppender" />
  </root>
  <logger name="Game" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="LogFileAppender" />
  </logger>
</log4net>